:root {
  --color-fg: rgb(215, 200, 25);
  --color-fg2: rgb(185, 170, 50);
  --color-fg-glow: rgb(185, 170, 50, 20%);
  --color-bg-glow: rgb(185, 170, 50, 6%);
  --color-bg: #222;
  --color-bg2: #111;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:link {
  color: inherit;
  text-decoration: none
}

html {
  min-height: 100%;
  background-color: var(--color-bg);
  background-image:
    repeating-linear-gradient(-45deg, var(--color-bg), transparent, var(--color-bg) 3px),
    repeating-linear-gradient(45deg, var(--color-bg), var(--color-bg2), var(--color-bg) 3px);
  scrollbar-color: var(--color-fg2) var(--color-bg);
  scrollbar-width: thin;
}

body {
  position: absolute;
  background-image: radial-gradient(transparent 60%, var(--color-bg-glow));
  color: var(--color-fg);
  font-family: Georgia, Verdana;
  border-left: 3px solid var(--color-fg);
  min-height: 100%;
}

.toggle-menu {
  font-size: 250%;
  cursor: pointer;
  line-height: 1;
  background-color: var(--color-fg);
  color: var(--color-bg);
  padding: 0 3px;
}
#open-menu {
  z-index: 1;
  position: fixed;
  box-shadow: 6px 6px 5px var(--color-bg2);
}
#close-menu {
  position: absolute;
  right: 0;
}

#menu {
  transform: translateX(-110%);
  transition: transform 0.3s ease-out;
  z-index: 2;
  position: fixed;
  width: 100%;
  max-width: 250px;
  min-height: 100%;
  background-color: var(--color-fg2);
  background-image:
    repeating-linear-gradient(-45deg, var(--color-fg), transparent, var(--color-fg) 3px),
    repeating-linear-gradient(45deg, var(--color-fg), var(--color-fg2), var(--color-fg) 3px);
  border: 3px solid var(--color-fg);
  border-left: none;
  box-shadow: 6px 0px 5px var(--color-bg2);
  color: var(--color-bg);
}
#menu.visible {
  transform: translateX(0);
}
#menu-content {
  padding: 15px;
  margin-top: 30px;
  font-family: Arial Black, sans-serif;
}

#content {
  padding: 100px 20px;
  text-shadow: 1px 1px 8px var(--color-fg-glow);
}

#for-love {
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
  color: white
}
#for-love::before {
  content: "For ";
}
#for-love::after {
  content: " ❤︎";
  color: #DD3545;
}

h1 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}
