:root {
  --color-fg: rgb(215, 200, 25);
  --color-fg2: rgb(185, 170, 50);
  --color-fg-glow: rgb(185, 170, 50, 20%);
  --color-bg-glow: rgb(185, 170, 50, 6%);
  --color-bg: #222;
  --color-bg2: #111;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, a:link, a:visited, a:active {
  color: inherit !important;
  text-decoration: underline wavy;
}
a:hover {
  color: inherit !important;
  text-decoration: underline wavy 2px;
}

html {
  min-height: 100%;
  background-color: var(--color-bg);
  background-image:
    repeating-linear-gradient(-45deg, var(--color-bg), transparent, var(--color-bg) 3px),
    repeating-linear-gradient(45deg, var(--color-bg), var(--color-bg2), var(--color-bg) 3px);
  scrollbar-color: var(--color-fg2) var(--color-bg);
  scrollbar-width: thin;
}

body {
  position: absolute;
  background-image: radial-gradient(transparent 60%, var(--color-bg-glow));
  color: var(--color-fg);
  font-family: Georgia, Verdana;
  border-left: 3px solid var(--color-fg);
  min-height: 100%;
}

.toggle-menu {
  font-size: 250%;
  cursor: pointer;
  line-height: 1;
  background-color: var(--color-fg);
  color: var(--color-bg);
  padding: 0 3px;
}
#open-menu {
  z-index: 1;
  position: fixed;
  box-shadow: 6px 6px 5px var(--color-bg2);
}
#close-menu {
  position: absolute;
  right: 0;
}

#menu {
  transform: translateX(-110%);
  transition: transform 0.3s ease-out;
  z-index: 2;
  position: fixed;
  width: 100%;
  max-width: 250px;
  min-height: 100%;
  background-color: var(--color-fg2);
  background-image:
    repeating-linear-gradient(-45deg, var(--color-fg), transparent, var(--color-fg) 3px),
    repeating-linear-gradient(45deg, var(--color-fg), var(--color-fg2), var(--color-fg) 3px);
  border: 3px solid var(--color-fg);
  border-left: none;
  box-shadow: 6px 0px 5px var(--color-bg2);
  color: var(--color-bg);
}
#menu a {
  text-decoration: none;
}
#menu.visible {
  transform: translateX(0);
}
#menu-content {
  padding: 15px;
  margin-top: 30px;
  font-family: Verdana, sans-serif;
  font-weight: bold;
}

#content {
  padding: 100px 20px;
  text-shadow: 1px 1px 8px var(--color-fg-glow);
}

#for-love {
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
  color: white
}
#for-love::before {
  content: "For ";
}
#for-love::after {
  content: " ❤︎";
  color: #D34;
}

h1 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

div.pill {
  width: 49%;
  margin-top: 50px;
  display: inline-block;
  color: #DDD;
  text-align: center;
}
div.pill > a {
  padding: 8px 25px;
  border-radius: 999px;
  display: inline-block;
  text-decoration: none;
  /* h-offset, v-offset, Blur radius, Spread, Color */
  box-shadow: 0px 12px 12px -5px #000;
}
div.pill > a:hover {
  transform: translateY(-2px);
  transition: all 0.3s ease;
  box-shadow: 0px 16px 12px -5px #000;
}
div.pill > a#red-pill {
  background-color: #D34;
  background: radial-gradient(#D34 40%, #300);
}
div.pill > a#blue-pill {
  background-color: #34D;
  background: radial-gradient(#34D 40%, #006);
}
